<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title},~{::body/content()})}">
<head>
  <title>Linebot Notification Service ログイン画面</title>
</head>
<body>
  <blockquote>
    <h2 id="ログイン画面">ログイン画面</h1>
      <form th:action="@{/login}" method="POST">
        <p>ユーザ名<br/>
          <input type="text" name="user_id" />
        </p>
        <ul>
          <li class="notice">半角英数</li>
          <li class="notice">8文字以上かつ12文字以下</li>
        </ul>
        <p>パスワード<br/>
          <input type="password" name="password" />
        </p>
        <ul>
          <li class="notice">半角英数</li>
          <li class="notice">8文字以上かつ30文字以下 (@などの特殊記号可ただし*は不可)</li>
        </ul>
        <p><input type="submit" value="送信" /></p>
      </form>
    
    <h3 id="まだ会員登録がまだの方は">まだ会員登録がまだの方は…</h3>
    <p><a th:href="@{/register}">新規登録ページ</a></p>
  
    <h2>Linebot Notify Web Serviceとお友達になろう！</h2>
      <p>
        <img th:src="@{/images/linebot_qrcode.png}" alt="LINEのQRコード" />
      </p>
  </blockquote>
</body>
</html>
